 
label{
    display: flex;
    justify-content: center;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    
    background-color: #e98c00;
    color: white;
}

ul{
    list-style-type: none;
}